<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Splotch - Регистрация</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='auth.css') }}">
</head>
<body>
    <form method="POST">
        <h1>SPLOTCH</h1>
        <h2>Регистрация</h2>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="flash-msg">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <input type="text" name="username" placeholder="Логин" required>
        <input type="password" name="password" placeholder="Пароль" required>
        <button type="submit">Создать аккаунт</button>
        <a href="{{ url_for('login') }}">Уже есть аккаунт? <u>Войти</u></a>
    </form>
</body>
</html>